<?xml version="1.0" standalone="no"?>
<Config>
   <DataSource>
      <Database Name="Default" Driver="Pdo_Mysql" Server="localhost" Port="3306" DBName="siremis41" User="siremis" Password="siremisrw" Charset="utf8"/>
      <Database Name="Serdb" Driver="Pdo_Mysql" Server="localhost" Port="3306" DBName="kamailio41s" User="kamailio" Password="kamailiorw" Charset="utf8"/>
   </DataSource>
</Config>
